<configuration>  
    <system.webServer>           
      <handlers>  
           <add name="iisnode-socketio" path="index.js" verb="*" modules="iisnode"/>  
     </handlers>  
      <rewrite>  
           <rules>  
                <rule name="SocketIO" patternSyntax="ECMAScript">  
                     <match url="socket.io.+"/>  
                     <action type="Rewrite" url="index.js"/>
                </rule>  
           </rules>  
      </rewrite>  
      <webSocket enabled="false"/>
   </system.webServer>  
 </configuration>